<div class="row" id="wrap">
    <div class="col-md-12">
        <!-- Fixed navbar -->
        <h1 class="caption">OFFICE SOULS</h1>
        <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    @*@Html.Partial("_LoginPartial")*@
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div><!--/.navbar -->

    </div>
</div>