<div class="row" id="wrap">
    <div class="col-md-12">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-bottom" id="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <h1 class="caption">OFFICE SOULS</h1>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p>STAT</p>
                        </li>
                        <li>
                            <p>ADMIN</p>
                        </li>
                    </ul>
                                        @*@Html.Partial("_LoginPartial")*@
</div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div><!--/.navbar -->

    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="~/Content/img/SkyAndBible.jpg" />
    </div>
</div>
